# Explore here

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from scipy.stats import pointbiserialr
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import timeit
import warnings
warnings.filterwarnings("ignore")
from sklearn.feature_selection import f_classif, SelectKBest
from sklearn.metrics import f1_score, make_scorer, mean_absolute_error, r2_score
import pickle

In [7]:
# Your code here
url = "https://raw.githubusercontent.com/4GeeksAcademy/linear-regression-project-tutorial/main/medical_insurance_cost.csv"
df = pd.read_csv(url)
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [17]:
le = LabelEncoder()

df_encoded = df.apply(le.fit_transform)

In [18]:
df_encoded.head()

   age  sex  bmi  children  smoker  region  charges
0    1    0  197         0       1       3     1005
1    0    1  350         1       0       2       57
2   10    1  331         3       0       2      306
3   15    1   73         0       0       1     1097
4   14    1  223         0       0       1      254

In [19]:
df_num = df.select_dtypes(include = np.number)

In [20]:
df_cat = df.select_dtypes(include= "O")

In [29]:
df_cat_enc = df_cat.apply(le.fit_transform)

In [28]:
df_cat_enc.head()

   sex  smoker  region
0    0       1       3
1    1       0       2
2    1       0       2
3    1       0       1
4    1       0       1

In [27]:
df = pd.concat([df_num, df_encoded], axis=1)